<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eco Friendly Travel Website</title>
    <link rel="stylesheet" href="carbonOffset-pg22.css">
    <link rel="stylesheet" href="/Main-Page/responsiveMainPage.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Special+Gothic+Expanded+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Special+Gothic+Expanded+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Gothic+Expanded+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Header Start -->
     <header>
        <div class="container">
            <nav>
                <div class="main-title">
                    <i class="fa-solid fa-earth-asia main-title-icon"></i>
                    <div class="main-subtitle">
                        <p id="subtitle1">Eco-Travel</p>
                        <p id="subtitle2">Malaysia</p>
                    </div>
                </div>
                <ul>
                    <div class="btn">
                        <i class="fas fa-times close-btn"></i>
                    </div>
                    <li><a href="../Main-Page/main-page.html" id="homeNav">Home</a></li>
                    <li><a href="../Page-16/favourite.html" id="favouriteNav">Favourite</a></li>
                    <li><a href="../Page-17/empty-history.html" id="historyNav">History</a></li>
                    <li><a href="../Page-23/weather.html" id="weatherNav">Weather</a></li>
                    <li><a href="../Carbon_Calculation/carbon_calculator.html" id="footprintNav">Footprint</a></li>
                    <li><a href="../Page-4/index.html" id="profileNav"><i class="fa-solid fa-circle-user user-icon"></i></a></li>
                </ul>
            </nav>

        </div>
     </header>

    <!-- Header Close -->

    <div class="main-carbonOffest-result container">
        <div class="flexbox-top">
            <!-- Main Result Display -->
            <div class="flexbox-left card">
                <h2 class="headings">CARBON FOOTPRINT <span>RESULT</span></h2>

                <div class="carbonOffest-result-list">
                    <div class="offset-item1">
                        <div class="flexbox-accomodation">
                            <i class="fa-solid fa-house-user accomodation-icon"></i>
                            <div class="accomodation-carbon-list">
                                <p class="element-title">Accomodation</p>
                                <div class="accomodation-element-list">
                                    <p>Electricity: 100KWH</p>
                                    <p>27kgCO2</p>
                                    <p>RM0.68</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="offset-item2">
                        <div class="flexbox-accomodation">
                            <i class="fa-solid fa-truck-plane accomodation-icon"></i>
                            <div class="accomodation-carbon-list">
                                <p class="element-title">Transportation</p>
                                <div class="accomodation-element-list">
                                    <p>Small Car (Petrol): 35miles</p>
                                    <p>73kgCO2</p>
                                    <p>RM19.90</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="offset-item3">
                        <div class="flexbox-accomodation">
                            <i class="fa-solid fa-utensils accomodation-icon"></i>
                            <div class="accomodation-carbon-list">
                                <p class="element-title">Restaurant</p>
                                <div class="accomodation-element-list">
                                    <p>High meat-eater (3 days a week)</p>
                                    <p>100kgCO2</p>
                                    <p>RM150.59</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Carbon Pie Chart Shown-->
            <div class="flexbox-right">
                <h2 class="headings">Total Carbon Footprint: <span>27KGCO2</span></h2>

                <figure class="charts">
                    <div class="pie donut"></div>
                </figure>

                <figcaption class="legends">
                    <span>Accomodation 40%</span>
                    <span>Restaurant 22%</span>
                    <span>Transportation 38%</span>
                </figcaption>

            </div>
        </div>

         <hr>


    <!-- About Start -->
    <section id="about">
        <div class="container">
            <div class="about-content-wrapper">
                <div class="agency-left-side">
                    <p class="heading-normal-txt">Offset Carbon Footprint</p>
                    <h2 class="headings">REDUCE <span>MALAYSIA's</span> CARBON EMISSIONS</h2>

                    <p class="lead">
                        The money that you pay to offset your carbon emissions is used to fund Climate Stewards’ partners in Ghana, 
                        Kenya, Nepal, Peru, Tanzania and Uganda. 
                    </p>
                    <br/>
                    <p class="lead">
                        We work with local partners on community-based projects that either reduce carbon emissions or remove carbon dioxide from the atmosphere - creating carbon offsets.
                    </p>

                    <ul>
                        <li>
                            <div class="icons">
                                <i class="fa fa-check"></i>
                                <p>Cashless Payment</p>
                            </div>
                        </li>

                        <li>
                            <div class="icons">
                                <i class="fa fa-phone-volume"></i>
                                <p>+6011-15880259</p>
                            </div>
                        </li>
                    </ul>

                    
                </div>

                <div class="agency-right-side">
                    <div class="img">
                        <img src="img/industry_img.jpg" alt="">
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!-- About Close -->

</div>

    <!-- Search Location Start -->
    <section id="location-search">
        <div class="container">
            <div class="form-wrapper">
                <form action="#">
                    <input type="text" placeholder="RM" class="form-control">

                    <select class="form-control">
                        <option value="Interest">State to Donate</option>
                        <option value="Interest">Johor</option>
                        <option value="Interest">Sarawak</option>
                        <option value="Interest">Sabah</option>
                        <option value="Interest">Penang</option>
                        <option value="Interest">Selangor</option>
                        <option value="Interest">Pahang</option>
                        <option value="Interest">Perak</option>
                        <option value="Interest">Kedah</option>
                        <option value="Interest">Kelantan</option>
                        <option value="Interest">Negeri Sembilan</option>
                        <option value="Interest">Perlis</option>
                        <option value="Interest">Terengganu</option>
                        <option value="Interest">Malacca</option>
                    </select>

                    <select class="form-control">
                        <option value="Weather">Payment Type</option>
                        <option value="Weather">Credit Card</option>
                        <option value="Weather">PayPal</option>
                    </select>

                    <button type="button" class="primary-btn"><i class="fa-solid fa-coins"></i>  Pay Now</button>
                </form>
            </div>
        </div>
     </section>
    <!-- Search Location Close -->
    

    <!-- Footer Start -->
    <footer id="footer">
        <div class="container">
            <div class="footer-content">
                <!-- First Content -->
                <div class="ft-content">
                    <div class="icon">
                        <i class="fa fa-phone-volume"></i>
                    </div>

                    <div class="content">
                        <p class="lead">Call Us</p>
                        <p>+65-80201558</p>
                    </div>
                </div>

                <!-- Second Content -->
                <div class="ft-content">
                    <div class="icon">
                        <i class="fa fa-envelope-open"></i>
                    </div>

                    <div class="content">
                        <p class="lead">Write For Us</p>
                        <p>zhenhauoi1234@gmail.com</p>
                    </div>
                </div>

                <!-- Third Content -->
                <div class="ft-content">
                    <div class="icon">
                        <i class="fa fa-map-location"></i>
                    </div>

                    <div class="content">
                        <p class="lead">Address</p>
                        <p>No.15 Lorong Bukit Setongkol, 21400 Kuantan, Pahang</p>
                    </div>
                </div>
            </div>

            <!-- Second Footer Content -->
            <div class="footer-wrapper">
                <div class="about">
                    <div class="main-title">
                        <i class="fa-solid fa-earth-asia main-title-icon"></i>
                        <div class="main-subtitle">
                            <p id="subtitle1">Eco-Travel</p>
                            <p id="subtitle2">Malaysia</p>
                        </div>
                    </div>

                    <p class="lead">"Adventure is Worthwhile. 
                        The world is a book, and those who do not travel read only one page."</p>

                    <div class="social-icons">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-tiktok"></i>
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    
                </div>
                
                <div class="links">
                    <h2>Quick Link</h2>
                    <ul>
                        <li><a href="../Main-Page/main-page.html">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Transport</a></li>
                        <li><a href="#">History</a></li>
                        <li><a href="#">Weather</a></li>
                        <li><a href="#">Favourite</a></li>
                    </ul>
                </div>

                <div class="subscribe">
                    <h2>Subscribe</h2>
                    <p class="lead">Sign Up for our monthly blog to stay informed about travel and tours.</p>
                    <form action="#">
                        <input type="text" placeholder="Email Address">
                        <button type="button" class="button">Send</button>
                    </form>
                </div>
            </div>

        </div>
    </footer>
    <!-- Footer End -->


    <script src="carbonOffset-pg22.js"></script>
    <script src="/Main-Page/swiperMainPage.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
</body>
</html>